@use "../../styles/variables" as *;

.heroSection {
  padding: 4rem 0;
  .heroText {
    p {
      color: $secondary-text;
    }
    .cardsContainer {
      margin-top: 2.5rem;
    }
    .card {
      border: 1px solid #dee2ea;
      border-radius: 8px;
      padding: 30px 15px 20px;
      text-align: center;
      transition: all 0.3s ease;
      margin-bottom: 2rem;
      img {
        width: 48px;
        height: 60px;
      }
      h6 {
        margin: 1.7rem 0 0;
        font-size: 1rem;
        font-weight: 600;
      }
      &:hover {
        border-color: $primary;
        box-shadow: 0 4px 20px rgba(125, 71, 239, 0.1);
      }
    }
  }
}
@media (min-width: 992px) {
  .heroSection {
    .card:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
@media (max-width: 1024px) {
  .heroSection {
    padding: 2rem 0;
    .heroText {
      .cardsContainer {
        margin-top: 1.5rem;
      }
      .card {
        padding: 20px 10px 15px;
        img {
          width: 40px;
          height: 50px;
        }
        h6 {
          font-size: 0.9rem;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .heroSection {
    padding: 1rem 0;
    .heroText {
      .cardsContainer {
        margin-top: 1rem;
      }
      .card {
        padding: 15px 5px 10px;
        img {
          width: 32px;
          height: 40px;
        }
        h6 {
          font-size: 0.85rem;
        }
      }
    }
    .heroImage {
      display: none;
    }
  }
}
