.headerSection {
  .mainheader {
    padding: 1.25rem 0;

    .headerLogo {
      display: flex;
      align-items: center;
    }
    h5 {
      margin: 0;
      padding-left: 5px;
    }
    .headerActions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
