.servicesSection {
  padding: 4rem 0;
  .subTitle {
    font-weight: 500;
    padding-bottom: 1rem;
  }
  .title {
    padding-bottom: 1.2rem;
    h2 {
      max-width: 480px;
    }
  }
  h2 img {
    width: 23px;
    margin-left: 0.5rem;
  }
  .buttonContainer {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    padding-top: 1.5rem;
  }
}

@media (max-width: 1024px) {
  .servicesSection {
    padding: 2rem 0;
  }
}
@media (max-width: 899px) {
  .servicesSection {
    padding: 4rem 0 4.5rem;
  }
}
