@use "variables" as *;

body {
  font-family: "Poppins", sans-serif !important;
  font-size: 16px;
  color: $text;
  background-color: $white;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  font-weight: 400;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0 0 1rem;
  line-height: 1.2;
}

h1 {
  font-size: 4.25rem;
  // font-weight: 700;
}
h2 {
  font-size: 3rem;
  // font-weight: 600;
}
h3 {
  font-size: 2.25rem;
  // font-weight: 600;
}
h4 {
  font-size: 1.75rem;
  // font-weight: 600;
}
h5 {
  font-size: 1.5rem;
  // font-weight: 600;
}
h6 {
  font-size: 1.25rem;
  font-weight: 500;
}
h6.bold {
  font-size: 1.2rem;
  font-weight: 600;
}

p {
  margin: 0 0 1rem;
}

a {
  color: $primary;
  text-decoration: none;
  font-weight: 500;
  &:hover {
    // text-decoration: underline;
    color: $text;
  }
}
img {
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  &:focus {
    outline: none;
  }
}

//form styles
input,
textarea,
select,
button,
label,
.MuiFormControlLabel-label {
  font-family: "Poppins", sans-serif !important;
  color: $text !important;
}
input,
textarea,
select {
  &:focus {
    border-color: $primary;
  }

  &::placeholder {
    color: #6b7280;
  }
}
label {
  font-size: 1rem;
  font-weight: 500;
  display: block;
  margin-bottom: 0.5rem;
  color: $text;
}

input[type="checkbox"],
.MuiButtonBase-root.MuiCheckbox-root.Mui-checked {
  color: $primary;
}
.MuiButtonBase-root.MuiCheckbox-root {
  padding: 3px !important;
}
.MuiFormControlLabel-root {
  margin-left: -7px !important;
}

// Override default styles for accordion
.MuiPaper-root {
  background-color: transparent !important;
  box-shadow: none !important;
  &::before {
    content: none !important;
  }
}
.MuiAccordion-root {
  border-top: 1px solid rgba(0, 0, 0, 0.12) !important;
}
.MuiAccordion-root.Mui-expanded {
  margin-top: 0 !important;
}
.MuiPaper-root.Mui-expanded::before {
  opacity: unset !important;
  position: unset !important;
  content: unset !important;
}
.MuiAccordionSummary-root {
  padding: 0 !important;
}

.MuiAccordionDetails-root {
  padding-left: unset !important;
  padding-right: unset !important;
  padding-bottom: unset !important;
}

.MuiAccordionSummary-root h6 {
  margin-bottom: 0 !important;
  padding-right: 1rem !important;
}

.MuiAccordionSummary-content {
  margin: 1rem 0 !important;
}
.MuiAccordionSummary-content.Mui-expanded {
  margin: 1rem 0 0.5rem !important;
}

.MuiAccordionDetails-root p {
  margin-bottom: 0 !important;
}
.MuiAccordionSummary-root .MuiAccordionSummary-expandIconWrapper.Mui-expanded {
  transform: rotate(44deg) !important;
}
@media (max-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.25rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  h6,
  h6.bold {
    font-size: 1.1rem;
  }

  p {
    font-size: 0.95rem;
  }
  .wrapper {
    padding: 0 40px;
  }
  label {
    font-size: 0.95rem;
  }
  input,
  textarea,
  select {
    font-size: 0.95rem;
    padding: 0.5rem 0.75rem;
  }

  .MuiFormControlLabel-root {
    margin-left: -5px !important;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.25rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1.1rem;
  }
  h6,
  h6.bold {
    font-size: 1rem;
  }
  .wrapper {
    padding: 0 15px;
  }
  body {
    font-size: 15px;
    line-height: 1.4;
  }

  p {
    font-size: 0.9rem;
  }
  input,
  textarea,
  select {
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  label {
    font-size: 0.9rem;
  }

  button {
    font-size: 0.9rem;
    padding: 0.6rem 1rem;
  }

  .MuiFormControlLabel-root {
    flex-wrap: wrap;
    margin-left: 0 !important;
  }
}
