@use "variables" as *;

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: $text;
  background-color: $white;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0 0 1rem;
  line-height: 1.2;
}

h1 {
  font-size: 4.25rem;
  // font-weight: 700;
}
h2 {
  font-size: 3rem;
  // font-weight: 600;
}
h3 {
  font-size: 2.25rem;
  // font-weight: 600;
}
h4 {
  font-size: 1.75rem;
  // font-weight: 600;
}
h5 {
  font-size: 1.5rem;
  // font-weight: 600;
}
h6 {
  font-size: 1.25rem;
  // font-weight: 600;
}

p {
  margin: 0 0 1rem;
}

a {
  color: $primary;
  text-decoration: none;
  font-weight: 500;
  &:hover {
    // text-decoration: underline;
    color: $text;
  }
}
img {
  max-width: 100%;
  height: auto;
}
