.contactSection {
  padding: 4rem 0;
  background: url("../../assets/images/Form_BG.png") no-repeat center
    center/cover;
  .leftCol {
    background-color: #fff;
    border: 2px solid rgb(222, 226, 234);
    border-radius: 24px;
    padding: 50px 64px 60px;
    .serviceLabel {
      margin: 1rem 0;
    }
    button {
      margin-top: 1rem;
    }
  }
  .rightCol {
    .textContainer {
      padding-bottom: 3rem;
    }
  }
}
@media (min-width: 1025px) {
  .contactSection {
    .rightCol {
      padding-left: 4.5rem;
    }
  }
}
@media (min-width: 900px) and (max-width: 1024px) {
  .contactSection {
    .leftCol {
      padding: 40px 32px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .contactSection {
    .leftCol {
      padding: 40px 32px;
    }
    .rightCol {
      padding-left: 3rem;
      .textContainer {
        padding-bottom: 2rem;
      }
    }
  }
}
@media (max-width: 899px) {
  .contactSection {
    padding: 4rem 0 2rem;
    .leftCol {
      padding: 30px 24px;
    }
    .rightCol {
      .textContainer {
        padding-bottom: 1.5rem;
      }
    }
  }
}
