@use "../../styles/variables" as *;

.footerSection {
  background-color: $secondary;
  color: #e8f4ff;
  padding: 3rem 0 1.2rem;
  position: relative;
  z-index: 1;
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    content: "";
    background-image: url("../../assets/images/Vector_palms.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    opacity: 0.02;
  }
  h6 {
    margin-bottom: 2.5rem;
  }
  a {
    color: $white;
    &:hover {
      color: $primary;
      text-decoration: underline;
    }
  }
  .headerLogo {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
    h5 {
      margin: 0;
      padding-left: 5px;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
  .socialShare {
    a {
      color: $white;
      font-size: 1.5rem;
      margin-right: 1rem;
      transition: color 0.3s ease;
      &:hover {
        color: $white;
      }
    }
    p {
      margin-bottom: 1rem;
    }
  }
  .contactInfo {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    svg {
      margin-right: 0.5rem;
    }
    a {
      color: $white;
      text-decoration: none;
      &:hover {
        color: $primary;
        text-decoration: underline;
      }
    }
  }
  .footerBottom {
    padding-top: 1rem;
    border-top: 1px solid #74747440;
    margin-top: 3rem;
    text-align: center;
    p {
      margin: 0;
    }
  }
}
@media (max-width: 899px) {
  .footerSection {
    padding: 3rem 0 1.2rem;
    .headerLogo {
      margin-bottom: 1.5rem;
    }
    .socialShare {
      margin-bottom: 1rem;
    }
    h6 {
      margin-bottom: 1.5rem;
    }
    .getInTouch {
      margin-top: 1.5rem;
    }
    .footerBottom {
      margin-top: 1.8rem;
    }
  }
}
